:root {
  --e-string-top: -8.7rem;
}

header {
  margin-top: 3rem;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

main,
section,
form {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 6rem auto;
  padding: 1rem;
  border: 1px solid grey;
}

.note {
  padding: 1rem;
}

.string,
.empty-string {
  padding: 1rem;
}

#guitar {
  justify-content: center;
  /* align-items: flex-start; */
}

.fret {
  display: flex;
  flex-direction: column;
  position: relative;
  top: -1rem;
}

.fret .string {
  /* max-height: 0.1px; */
  width: 5rem;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

.fret .first-string {
  border-right: none;
}

.first-fret {
  border-left: 1px solid black;
}

.empty-string {
  border: none;
}

.string {
  position: relative;
}

.string em {
  position: absolute;
  top: 24px;
  left: 50px;
}

em {
  background-color: #bbb;
  color: white;
  padding: 2px;
  border-radius: 4px;
  box-shadow: 2px 2px 2px grey;
}
